<tr id="request-<%= request.id %>">
  <td><%= request.book_name %></td>
  <td><%= request.author %></td>
  <td><%= request.pulisher %></td>
  <td>
    <div id="request-<%= request.id %>-status" class="col-md-1">
      <%= request.status %>
    </div>
  </td>
  <td>
    <%= link_to t("request.cancel"), request, method: :delete,
    data: {confirm: t("request.you_sure")} %>
  </td>
</tr>
