<% provide :title, @category.name %>
<div class="page-header">
  <ul class="list-inline pull-right">
    <li>
      <%= link_to t("application.buttons.edit"),
        edit_admin_category_path(@category), class: "btn btn-primary" %>
    </li>
    <li>
      <%= link_to t("application.buttons.delete"), [:admin, @category],
        method: :delete, data: {confirm: t("category.messages.confirm")},
        class: "btn btn-danger" %>
    </li>
  </ul>
  <h3><%= @category.name %></h3>
</div>
<div class="row">
  <div class="col-lg-12">
    <p><%= @category.description %></p><br />
    <fieldset class="fsStyle">
      <legend class="legendStyle">
        <span class="label label-info"><%= t "book.books" %></span>
      </legend>
      <% @books.each do |book| %>
        <div class="col-lg-2">
          <div class="thumbnail text-center">
            <h4><%= book.name %></h4>
          </div>
        </div>
      <% end %>
    </fieldset>
  </div>
</div>
