<tr id="request-<%= request.id %>">
  <td class="col-md-2"><%= request.book_name %></td>
  <td class="col-md-2"><%= request.author %></td>
  <td class="col-md-1"><%= request.pulisher %></td>
  <td class="col-md-2"><%= link_to request.user.name, request.user %></td>
  <td>
    <div id="request-<%= request.id %>-status" class="col-md-1">
      <%= request.status %>
    </div>
  </td>
  <td>
    <div class="row">
      <div class="col-xs-6 text-center">
        <%= form_for [:admin, request], remote: true do |f| %>
          <%= f.hidden_field :status, value: :accept %>
          <%= f.submit t("request.accept"), class: "btn btn-success" %>
        <% end %>
      </div>
      <div class="col-xs-6">
        <%= form_for [:admin, request], remote: true do |f| %>
          <%= f.hidden_field :status, value: :decline %>
          <%= f.submit t("request.decline"), class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </td>
</tr>
